---
Language: Cpp
BasedOnStyle: LLVM

# 大括号格式化
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# 基本格式设置
ColumnLimit: 100
IndentWidth: 4
UseTab: Never
TabWidth: 8
PointerAlignment: Right
ReferenceAlignment: Pointer

# 对齐设置
AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0

# 代码块格式化
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
AllowShortEnumsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never

# 模板和命名空间
AlwaysBreakTemplateDeclarations: MultiLine
BreakTemplateDeclarations: Yes
NamespaceIndentation: None
FixNamespaceComments: true

# 头文件排序
SortIncludes: true
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1
    SortPriority: 0
  - Regex: '^".*"'
    Priority: 2
  - Regex: '.*'
    Priority: 3
    SortPriority: 0
    CaseSensitive: false

# 空格设置
SpaceBeforeParens: ControlStatements
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpacesInAngles: Never
SpacesInContainerLiterals: true
SpacesInParens: Never
SpacesBeforeTrailingComments: 1

# 其他设置
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
DerivePointerAlignment: false
IndentCaseLabels: false
PenaltyReturnTypeOnItsOwnLine: 60
Standard: Latest
...

